<form action="/cart" method="post">
    <button type="submit" class="btn">Add To Cart</button>
<!--   In SQL {id} in Mongo {_id} -->
    <input type="hidden" name="productId" value="<%= product._id%>">
</form>
